body {
  font-family: "Varela Round", sans-serif;
  color: #201e1f;
  background: #b6c2d9;
  font-size: 20px;
}

.container {
  max-width: 34rem;
  margin: 0 1rem;
}

.piggy {
  height: auto;
  object-fit: contain;
  width: 100px;
}

a {
  text-decoration: none;
  color: #4d7ea8;
}
a:hover {
  text-decoration: none;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  padding: 10px 0;
  background: #4d7ea8;
  color: #fff;
  position: fixed;
  width: 100%;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}

.title {
  display: flex;
  align-items: center;
  font-family: "Lato", arial, sans-serif;
}

.promo .title span {
  font-size: 5rem;
  color: #201e1f;
  margin-top: 0;
  font-weight: 900;
  font-style: italic;
}

.promo .title span:last-of-type {
  margin-right: 1rem;
  font-style: normal;
}

.promo .intro {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 10px;
}

.projects {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}

.projects:last-of-type {
  margin-bottom: 0;
}

.projects-folder {
  margin: 1rem 0;
  max-width: 400px;
  display: flex;
}

.fancy-line {
  width: 2px;
  background-color: #201e1f;
  min-height: 100%;
  margin: 0 1rem 0 0;
}

.email {
  color: #201e1f;
}

.pod-links {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.pod-links a {
  display: flex;
  margin-right: 10px;
  color: initial;
}

.pod-links img {
  margin-right: 5px;
  width: 25px;
  opacity: 0.7;
  align-self: baseline;
}

@media (max-width: 550px) {
  .promo .title span {
    font-size: 30px;
    margin-top: 0.5rem;
  }

  .piggy {
    width: 60px;
  }

  .pod-links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .pod-links a {
    margin-bottom: 10px;
  }

  .promo .title span:last-of-type {
    margin-right: 0;
  }
}
