body {
  font-family: "Lato", arial, sans-serif;
  color: #444444;
  background: #f7f5e9;
}

.container {
  max-width: 34rem;
  margin-left: 1rem;
}

.headshot {
  height: auto;
  object-fit: contain;
  width: 100px;
}

a {
  text-decoration: none;
  color: #17baef;
}
a:hover {
  text-decoration: none;
}
.btn,
a.btn {
  transition: all 0.4s ease-in-out;
  font-family: "Montserrat", arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #074f66;
  border: 1px solid #074f66;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #053c4e;
  border: 1px solid #053c4e;
  color: #fff;
}

.header {
  padding: 10px 0;
  background: #17baef;
  color: #fff;
  position: fixed;
  width: 100%;
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
  color: #17baef;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}

.promo {
  background-size: cover;
}

.title {
  display: flex;
  flex-wrap: wrap-reverse;
}

.promo .title span {
  font-size: 98px;
  color: #074f66;
  margin-top: 0;
  margin-right: 1.5rem;
  font-weight: 700;
}

.promo .intro {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.projects {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}

.projects:last-of-type {
  margin-bottom: 0;
}

.projects-folder {
  display: flex;
}

.fancy-line {
  width: 2px;
  background-color: #074f66;
  min-height: 100%;
  margin: 0 1rem 0 0;
}
